.display-area {
    width: 100%;
    background-color: rgb(241, 189, 189);
    padding: 5px;
}

.query-input-area {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    padding: 5px;
}
.query-input-textarea {
    width: 100%;
    height: 100%;
    padding: 5px;
}
