.display-area {
    background-color: rgb(241, 189, 189);
    padding: 5px;
}

.query-input-area {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    padding: 5px;
}
.query-input-textarea {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.react-transform-wrapper {
    background-color: #e8e8e8;
    border: 2px solid #999;
    margin-top: 5px;
    width: 100%;
    height: 500px;
}
