.dark-overlay {
    background-color: rgba(0,0,0,0.5);
}

.cursor-pointer {
    cursor: pointer;
}

.components-flex-column {
    display: flex;
    flex-direction: column;
}

.components-flex-row {
    display: flex;
    flex-direction: row;
}

button {
    color: #fff;
    background-color: #eb6100;
    width: 120px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}
button:hover {
    color: #fff;
    background: #f56500;
}

textarea {
    border: 2px solid #999;
    border-radius: 5px;
}